.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30rem;
    padding: 20px;
    border: 1px solid #1AA6B7;
    border-radius: 8px;
}
.selectform{
    display: flex;
}
